*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 10px;
  width: 500px;
  margin: auto;
  height: auto;
}

nav {
  padding: 20px;
  position: fixed;
  width: 500px;
  background-color: black;
}


h1 {
  font-weight: bold;
  font-size: 20px;
  padding: 10px 15px 0 15px;
  margin-top: 0px;
  margin-bottom: 0;
}

h3 {
  font-weight: normal;
  font-size: 16px;
  padding: 0 15px 0px 15px;
  margin-top: 5px;
}

.content {
  display: inline-block;
  width: 85%;
}

.arrow {
  float: right;
  font-size: 10px;
  padding-top: 20px;
}

.restaurant-list {
  background-color: #aaa;
  width: 100%;
  padding-top: 50px;

}

.location {
  border-bottom: .5px solid #333;
  padding: 20px;
  width:100%;
}


.restaurant-list :hover {
  background-color: #9F9F9F;
}
